{% extends 'base.html' %}

{% block content %}

<div>
    <form method="GET">
        <div>
            <input type = "date" name = "start" value = "2022-01-01" class = "text-center">
            <input type = "date" name = "end" value = "2022-04-30" class = "text-center">
            <button type = "submit" class = "btn-danger btn-sm">Submit</button>
        </div>    
    </form>
    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Employment</th>
                    <th>Marital Status</th>
                    <th>Photo</th>
                </tr>
            </thead>
            <tbody>
                {% for data in data %}
                <tr>
                    <td>{{ data.Name }}</td>
                    <td>{{ data.Age }}</td>
                    <td>{{ data.Gender }}</td>
                    <td>{{ data.Employment }}</td>
                    <td>{{ data.Marital_Status }}</td>
                    <td>{{ data.Photo.name}}</td>
                </tr>
                {% endfor %}    
            </tbody>
        </table>
   </div>
    <a target="" 
    class="btn btn-info pull-right" 
    {% comment %} href="{% url 'like' %}"> {% endcomment %}
    Save to Database
</a>
</div>

{% endblock %}